header {
    background-color: #f59d32;
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.nav-button {
    background-color: white;
    color: black;
    border: 2px solid #5680ea;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.nav-button:hover {
    background-color: #f879c7;
    color: white;
}
.img {

}